<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHikeLabel">Create or edit a Hike</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!hike.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="hike.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hikename">Hikename</label>
            <input type="text" class="form-control" name="hikename" id="field_hikename"
                [(ngModel)]="hike.hikename" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_meetingplace">Meetingplace</label>
            <input type="text" class="form-control" name="meetingplace" id="field_meetingplace"
                [(ngModel)]="hike.meetingplace" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_positivedrop">Positivedrop</label>
            <input type="number" class="form-control" name="positivedrop" id="field_positivedrop"
                [(ngModel)]="hike.positivedrop" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="hike.duration" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="hike.date"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
